#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: Java User Group Darmstadt

# Short bio or description (displayed in the header)
description: Community der Java Anwender in und um Darmstadt

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: /images/jugda_logo_rund.png

#
# Flags below are optional
#

# Includes an icon in the footer for each username you enter
footer-links:
  email: info@jug-da.de
  linkedin: company/jug-da
  mastodon: https://darmstadt.social/@JUG_DA
  youtube: "@jugda"

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: https://www.jug-da.de

# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

timezone: "Europe/Berlin"

# some default values for Front Matter
defaults:
  -
    scope:
      path: "" # emtpy means all files
      type: posts
    values:
      layout: post
      eventType: talk # talk, barbecue, report, hackathon, conference
      startTime: "18:30"
      duration: 2
      # location: "TU Darmstadt, S2|02 (Robert-Piloty-Geb.), Raum C110, Hochschulstr. 10, 64289 Darmstadt"
      location: Online
      direction: "/anfahrt/"
      hideRegistration: false
      registrationUrl: https://registration.jug-da.de/registration
      opensBeforeInMonths: 1
      seatLimit: 100
      showPub: false
      raffle: true
      hideVideoRecording: false
      hybrid: false
      externalEvent: false
      canceled: false
      lastModified: now
      # important: "Standardmäßig führen wir momentan unsere Veranstaltungen als Remote-Events durch (weitere Infos unten bei der Registrierung). Wir planen aber bereits wieder erste Präsenzveranstaltungen."
      # attachments: "" # single url, single filename as absolute path (/files/...) or a hash with a names (Folien, Demos, ...) as key
#
# !! You don't need to change any of the configuration flags below !!
#
markdown: kramdown
highlighter: rouge
permalink: /:year/:month/:title/

future: true

# Set the Sass partials directory, as we're using @imports
sass:
  style: compressed
#  style: expanded # You might prefer to minify using :compressed

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jemoji

# Exclude these files from your production _site
exclude:
    - Gemfile
    - Gemfile.lock
    - LICENSE
    - README.md
    - CNAME
