---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font-family: $helvetica;
  font-size: 16px;
  font-weight: $fontWeightRegular;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $fontWeightBold;
  line-height: 1.7;
  margin: 1em 0 0.5em;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

h5 {
  font-size: 16px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $darkBlue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkBlue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: $fontWeightBold;
}

img {
  max-width: 100%;
}

code {
  font-family: monospace;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  //margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  font-weight: $fontWeightRegular;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helvetica;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $darkBlue;
    }
  }
}
nav.legal {
  a {
    font-size: small;
  }
}

//
// .main
//

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  @include mobile {
    width: 100%;
  }
}


.maincontent {
  float: left;
  width: 72%;
  padding-right: 20px;
  @include mobile {
    float: none;
    width: 100%;
    padding-right: 0px;
  }
}

.sidebar {
  float: right;
  width: 28%;
  margin-top: 30px;
  padding-left: 20px;
  @include mobile {
    float: none;
    width: 100%;
    padding-left: 0px;
    margin-top: 100px;
  }
}

.sidebar_content {
  float: none;
  width: 100%;
  margin-bottom: 25px;
  @include mobile {
    float: left;
    width: 33%;
    padding: 0px 10px;
  }
  @include phone {
    float: none;
    width: 100%;
    padding: 0px;
  }
}

.flexContainerSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexContainerSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.speakerpic {
  float: right;
  max-width: 140px;
  margin-bottom: 1em;
  margin-left: 1em;
}

.sponsorpic {
  float: left;
  max-width: 200px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.orgapic {
  float: right;
  width: 100px;
  margin-left: 1em;
}

.orgaperson {
  float: left;
}

@mixin important {
  color: $dukeRed;
  font-style: italic;
  font-weight: $fontWeightBold;
}

.important {
  @include important;
}

.talk-list {
  list-style: none;
  line-height: 1.5;
  h3 {
    margin-left: -25px;
  }
  li {
    margin-left: -15px;
    div.speaker, div.url, div.location {
        margin-left: 96px;
    }
  }
}

.next-event-container {
  position: relative;
  padding: 50px 10px 10px 10px;
  border: 1px solid;
  background-color: $lightGray;
}

.next-event-label {
  position: absolute;
  left:0px;
  top:0px;
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: $dukeRed;
  color: white;
}

.next-event-time {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  background-color: $dukeRed;
  color: white;
}

.next-event-title {
  padding-top: 30px;
}

.sponsors {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}
.sponsors img {
  max-height: 100px;
}

blockquote {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 3px solid $gray;
  color: $gray;
  font-style: italic;
}

.btnMailingList {
  font-size: 1.25em;
  font-weight: $fontWeightBold;
  text-align: center;
  padding: 10px;
}


//
// POSTER
//

body.poster {
  div.poster-header {
    text-align: right;
    img {
      height: 100px;
      margin: 1em;
    }
  }
  hr.poster-line {
    height:20px;
    border: 0;
    background-color: black;
  }
  div.poster-content {
	margin-top: 2em;
    background-image:url('/images/poster_back.svg');
    background-repeat: repeat-y;
    background-size:contain;
    position: relative;
    top: -50px;
    padding-left: 10%;
    padding-top: 50px;
    ul {
      li {
        margin-bottom: 20px;
        list-style-type: none;
        img {
          float:right;
          border:1px solid;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
  div.poster-footer {
    font-size: 0.8em;
    padding: 2em;
    div.poster-sponsors {
      margin-bottom: 10px;
      img {
        vertical-align: middle;
        height: 1.5em;
      }
    }
    div.lastUpdated {
      margin-top: 10px;
      text-align:right;
      font-size: 0.8em;
    }
  }
}

//
// POSTER END
//

//
// VARIOUS
//

.hint {
  font-size: 0.8em;
  font-style: italic;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alert {
  border: 2px solid $dukeRed;
  background-color: rgba(255, 0, 0, 0.05);
  padding: 8px;
  font-weight: $fontWeightBold;
  a {
    color: $dukeRed;
  }
}

.conferenceLogo {
  max-width: 250px;
  margin: 1em;
}

#registrierung, #anmeldung {
  clear: both;
}

.externalEvent {
  color: $dukeRed;
  font-size: smaller;
}
