---
layout: page
title: Veranstaltungen
permalink: /veranstaltungen/
---


<h3>Anstehende Termine <a href="https://www.google.com/calendar/ical/q5vt4sq9qt7i8bjsdfgshg4b94%40group.calendar.google.com/public/basic.ics" target="_blank"><img title="ical" src="http://www.google.com/calendar/images/ical.gif" alt="ical" border="0" /></a></h3>

<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=q5vt4sq9qt7i8bjsdfgshg4b94%40group.calendar.google.com&amp;color=%23060D5E&amp;ctz=Europe%2FBerlin" frameborder="0" width="600" height="200"  marginheight="0" marginwidth="0"></iframe>

<ul class="archive-box">
  {% for post in site.posts %}

    {% unless post.next %}
      <a name="{{ post.date | date: '%Y' }}"></a>
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <a name="{{ post.date | date: '%Y' }}"></a>
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li>
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> &raquo;
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
