---
layout: page
title: Veranstaltungen
permalink: /veranstaltungen/
---

<div style="float: left; width: 60%;">
  <h3>Unsere Termine als iCal/ics Datei</h3>
  <a href="/events.ics">
    <img title="iCal" src="/images/ical.png" alt="iCal" border="0" style="max-width: 100px" />
  </a>
  <div class="hint">Ein Klick auf das Icon startet den Download,<br/>Rechts-Klick um die URL zu kopieren.</div>
</div>

<div style="float: left; width: 40%;">
  <h3>Das Programm-Plakat</h3>
  <a href="/plakat" target="_blank">
    <img src="/images/poster_klein.png" alt="JUG DA Poster" title="JUG DA Poster"/>
  </a>
  <div class="hint">Bitte Ausdrucken und Aufhängen!</div>
</div>

<div style="clear: both"></div>

{% include next-events.html %}

<h2>Vergangene Veranstaltungen</h2>
<ul class="talk-list">
  {% assign firstPost = true %}
  {% for post in site.posts %}
    {% if post.date <= site.time %}
      {% if firstPost %}
        <a name="{{ post.date | date: '%Y' }}"></a>
        <h3>{{ post.date | date: '%Y' }}</h3>
        {% assign firstPost = false %}
      {% endif %}

      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <a name="{{ post.date | date: '%Y' }}"></a>
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}

      {% include talk.html %}
    {% endif %}
  {% endfor %}
</ul>
