<a href="https://tutorials.entwickler.de/" target="_blank">
  <img src="/images/sus_tutorials.png" title="entwickler tutorials"/>
</a>
<a href="http://jcon.one/de/" target="_blank">
  <img src="/images/jcon.jpg" title="JCON 2017"/>
</a>
<a href="https://jax.de/" target="_blank">
  <img src="/images/wjax.png" title="WJAX 2017"/>
</a>
<a href="http://jvm-con.de/" target="_blank">
  <img src="/images/jvm-con.jpg" title="JVM-CON 2017"/>
</a>
<a href="https://www.ittage.informatik-aktuell.de/" target="_blank">
  <img src="/images/it-tage-2017.png" title="IT-Tage 2017"/>
</a>
