{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" target="_blank" style="color: #333"><i class="bi bi-envelope-fill fa-4x"></i></a>{% endif %}
{% if site.footer-links.mastodon %}<a href="{{ site.footer-links.mastodon }}" target="_blank" style="color: #00acee"><i class="bi bi-mastodon fa-4x"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/{{ site.footer-links.linkedin }}" target="_blank" style="color: #0e76a8"><i class="bi bi-linkedin fa-4x"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank" style="color: #c4302b"><i class="bi bi-youtube fa-4x"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank" style="color: #00acee"><i class="bi bi-twitter-x fa-4x"></i></a>{% endif %}
