{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" target="_blank" style="color: #333"><i class="fa fa-envelope-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank" style="color: #00acee"><i class="fa fa-twitter-square fa-4x"></i></a>{% endif %}
<a rel="me" href="https://darmstadt.social/@JUG_DA" target="_blank">
  <image src="/images/mastodon.svg" alt="Mastodon" style="width:64px;height:64px;"></image>
<!--<i class="fa-brands fa-mastodon"></i>-->
</a>
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" target="_blank" style="color: #171515"><i class="fa fa-github-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank" style="color: #ef8236"><i class="fa fa-stackoverflow fa-4x"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="_blank" style="color: #db4a39"><i class="fa fa-google-plus-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/{{ site.footer-links.linkedin }}" target="_blank" style="color: #0e76a8"><i class="fa fa-linkedin-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.xing %}<a href="https://www.xing.com/{{ site.footer-links.xing }}" target="_blank" style="color: #126567"><i class="fa fa-xing-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank" style="color: #3b5998"><i class="fa fa-facebook-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank" style="color: #0063dc"><i class="fa fa-flickr fa-4x"></i></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank" style="color: #3f729b"><i class="fa fa-instagram fa-4x"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="_blank" style="color: #c8232c"><i class="fa fa-pinterest-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank" style="color: #c4302b"><i class="fa fa-youtube-square fa-4x"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml" target="_blank" style="color: #ee802f"><i class="fa fa-rss-square fa-4x"></i></a>{% endif %}
