{% assign creationTime = site.time | date: '%s' %}
{% assign upcomingTalk = site.posts.first %}
{% for post in site.posts %}
  {% assign talkTime = post.date | date: '%s' %}
  {%if creationTime <= talkTime %}
    {% assign upcomingTalk = post %}
  {% endif %}
{% endfor %}

<script>
  function daysTillTalk() {
    var today = new Date().setHours(0,0,0,0);
    var talkDate = new Date('{{ upcomingTalk.date | date_to_xmlschema }}').setHours(0,0,0,0);
    var days = Math.ceil((talkDate - today) / 1000 / 60 / 60 / 24);

    if(days === 0) {
      return "heute"
    } else if(days < 0) {
      return "war vor " + Math.abs(days) + " Tag" + (days < -1 ? "en" : "");
    } else {
      return "noch <strong>" + days + "</strong> Tag" + (days > 1 ? "e" : "")
    }
  }
</script>

<div class="next-event-container">
<span class="next-event-label">Nächste Veranstaltung am <time datetime="{{ upcomingTalk.date | date:"%Y-%m-%d" }}">{{ upcomingTalk.date | date:"%d.%m.%Y" }}</time></span>
<span class="next-event-time"><script>document.write(daysTillTalk());</script></span>
<span class="next-event-title">
  {% if upcomingTalk.speaker %}{{ upcomingTalk.speaker }}{% if upcomingTalk.speaker2 %}, {{ upcomingTalk.speaker2 }}{% endif %}: {% endif %}
  <a href="{{ upcomingTalk.url | prepend: site.baseurl }}">{{ upcomingTalk.title }}</a>
</span>
{%if upcomingTalk.important %}
  <div class="important">Hinweis: {{ upcomingTalk.important }}</div>
{% endif %}
</div>
