{% assign creationTime = site.time | date: '%s' %}
{% assign upcomingTalk = site.posts.first %}
{% for post in site.posts %}
  {% assign talkTime = post.date | date: '%s' %}
  {%if creationTime <= talkTime and post.externalEvent == false %}
    {% assign upcomingTalk = post %}
  {% endif %}
{% endfor %}

<script>
  function daysTillTalk() {
    var today = new Date().setHours(0,0,0,0);
    var talkDate = new Date('{{ upcomingTalk.date | date_to_xmlschema }}').setHours(0,0,0,0);
    var days = Math.ceil((talkDate - today) / 1000 / 60 / 60 / 24);

    if(days === 0) {
      return "heute"
    } else if(days < 0) {
      return "war vor " + Math.abs(days) + " Tag" + (days < -1 ? "en" : "");
    } else {
      return "noch <strong>" + days + "</strong> Tag" + (days > 1 ? "e" : "")
    }
  }
</script>

<div class="card text-bg-light mb-3 border border-dark-subtle">
  <div class="card-header text-bg-danger">
    Nächste Veranstaltung am <time datetime="{{ upcomingTalk.date | date:"%Y-%m-%d" }}">{{ upcomingTalk.date | date:"%d.%m.%Y" }}</time>
  </div>
  <div class="card-body d-flex justify-content-between">
    <div>
      <h5 class="card-title mt-0">
        {%if upcomingTalk.speaker %}
          {{ upcomingTalk.speaker | map: "name" | join: ", " }}:
        {% endif %}
        <a href="{{ upcomingTalk.url | prepend: site.baseurl }}">{{ upcomingTalk.title }}</a>
      </h5>
      <div class="card-text important">
        {% if upcomingTalk.canceled %}
          <span>Hinweis: Die Veranstaltung wurde abgesagt!</span>
        {% endif %}
        {%if upcomingTalk.important %}
          <span>Hinweis: {{ upcomingTalk.important }}</span>
        {% endif %}
      </div>
    </div>
    <div>
      <div class="text-bg-danger p-2 rounded"><script>document.write(daysTillTalk());</script></div>
    </div>
  </div>
</div>
