{% assign creationTime = site.time | date: '%s' %}
{% assign upcomingTalk = site.posts.first %}
{% for post in site.posts %}
  {% assign talkTime = post.date | date: '%s' %}
  {%if creationTime <= talkTime %}
    {% assign upcomingTalk = post %}
  {% endif %}
{% endfor %}

<script>
  var today = new Date();
  var talkDate = new Date('{{ upcomingTalk.date | date_to_xmlschema }}');
  var daysTillTalk = Math.ceil((talkDate - today) / 1000 / 60 / 60 / 24);
</script>
<div style="border:1px solid; padding: 10px;">
<h1>Nächste Veranstaltung (noch <script>document.write(daysTillTalk);</script> Tage)</h1>
<time datetime="{{ upcomingTalk.date | date:"%Y-%m-%d" }}">{{ upcomingTalk.date | date:"%d.%m.%Y" }}</time> &raquo;
<a href="{{ upcomingTalk.url | prepend: site.baseurl }}">{{ upcomingTalk.title }}</a>
{% if upcomingTalk.speaker %}
  <div class="talklist_speaker">Speaker: {{ upcomingTalk.speaker }}</div>
{% endif %}
{%if upcomingTalk.importantHint %}
  <div class="talklist_important">{{ upcomingTalk.importantHint }}</div>
{% endif %}
</div>
