{% assign orga = include.orga %}
<div>
  <h4>{% if orga.passedAway %}† {% endif %}{{ orga.name }}</h4>
  <p>
      {% assign externImage = orga.image | slice: 0, 4 %}
      <img src="{% if externImage != 'http' %}/images/orga/{% endif %}{{ orga.image }}" class="orgapic"/>
      {{ orga.bio | markdownify }}
  </p>
  <p>
      {% if orga.email %}<i class="bi bi-envelope"></i>: <a href="mailto:{{ orga.email }}">{{ orga.email }}</a><br/>{% endif %}
      {% if orga.website %}<i class="bi bi-globe2"></i>: <a href="{{ orga.website }}" target="_blank" rel="noopener noreferrer external">{{ orga.website }}</a><br/>{% endif %}
      {% if orga.linkedin %}<i class="bi bi-linkedin"></i>: <a href="https://www.linkedin.com/in/{{ orga.linkedin }}/" target="_blank" rel="noopener noreferrer external">in/{{ orga.linkedin }}</a><br/>{% endif %}
      {% if orga.mastodon %}<i class="bi bi-mastodon"></i>: <a href="https://{{ orga.mastodon }}" target="_blank" rel="noopener noreferrer external">{{ orga.mastodon }}</a><br/>{% endif %}
      {% if orga.twitter %}<i class="bi bi-twitter-x"></i>: <a href="https://twitter.com/{{ orga.twitter }}" target="_blank" rel="noopener noreferrer external">@{{ orga.twitter }}</a><br/>{% endif %}
      {% if orga.youtube %}<i class="bi bi-youtube"></i>: <a href="https://www.youtube.com/{{ orga.youtube }}" target="_blank" rel="noopener noreferrer external">{{ orga.youtube }}</a><br/>{% endif %}
  </p>
  <hr style="clear: both;"/>
</div>
