{% if page.date > site.time %}

{% capture queryString %}?eventId={{ page.date | date: "%Y-%m-%d" %}}&limit={{ page.seatLimit }}{% if page.registrationDeadline %}&deadline={{ page.registrationDeadline }}{% endif %}{% if page.showPub == true %}&showPub=true{% endif %}{% if page.opensBeforeInMonths %}&opensBeforeInMonths={{page.opensBeforeInMonths}}{% endif %}{% if page.hideVideoRecording %}&hideVideoRecording={{page.hideVideoRecording}}{% endif %}{% if page.hybrid %}&hybrid={{page.hybrid}}{% endif %}{% endcapture %}

{% if page.location == "Online" and page.registrationUrl == "https://registration.jug-da.de/registration" %}
<h3 id="registrierung">Registrierung</h3>
<p>
Den Link zum Webinar über Zoom schicken wir an alle angemeldeten Personen per E-Mail kurz vor der Veranstaltung (schaut auch in Eure Spam-Ordner!).
Wer sehr kurzfristig dazukommen möchte, muss uns unter orga@jug-da.de kontaktieren.
</p>
{% endif %}

{% if page.registrationUrl == "https://registration.jug-da.de/registration" %}
<h3 id="anmeldung">Anmeldung</h3>
<p>
Zur besseren Planung bitten wir um eine unverbindliche Anmeldung mit Vor- und Zunamen und E-Mail Adresse.
Das ermöglicht uns, bei Änderungen kurzfristig mit Euch in Kontakt zu treten. Wir geben Eure Daten nicht weiter!
</p>

{% if page.raffle == true %}
<p>
Wer sich bis <strong>24 Stunden</strong> vor dem Vortrag anmeldet und bei der Veranstaltung anwesend ist, nimmt an unserer <strong>Verlosung</strong> teil. Gewinnen kann man Bücher, Software-Lizenzen, Zeitschriften-Abos und manchmal auch Freikarten zu lokalen Konferenzen. Der Rechtsweg ist hierbei ausgeschlossen.
</p>
{% endif %}

<iframe src="{{ page.registrationUrl }}{{ queryString }}" frameborder="0" width="100%" height="700" marginheight="0" marginwidth="0"></iframe>
{% else %}
<h3 id="anmeldung">Anmeldung und weitere Infos:</h3>
<p>
<a href="{{ page.registrationUrl }}" target="_blank">{{ page.registrationUrl }}</a><br/>
<small>
  Du wirst auf eine externe Seite weitergeleitet, die ggf. nicht von der JUG DA verwaltet wird.
  Es gelten die dort vom jeweiligen Anbieter gültigen Datenschutzrichtlinien.
</small>
</p>
{% endif %}
{% endif %}
