{% if page.date > site.time and page.formid != null %}

<h3>Anmeldung</h3>
<p>
Zur besseren Planung bitten wir um eine unverbindliche Anmeldung mit Vor- und Zunamen. Das Twitter-Handle ist optional, ermöglicht uns aber, bei Änderungen kurzfristig mit Euch in Kontakt zu treten. Wir geben Eure Daten nicht weiter. 
</p>

<p>
Wer sich bis <strong>24 Stunden</strong> vor dem Vortrag angemeldet hat und bei der Veranstaltung anwesend ist, nimmt an unserer <strong>Verlosung</strong> teil. Gewinnen kann man Bücher, Software-Lizenzen, Zeitschriften-Abos und manchmal auch Freikarten zu lokalen Konferenzen.
</p>

  <iframe src="https://docs.google.com/forms/d/{{ page.formid }}/viewform?embedded=true" frameborder="0" width="650" height="620" marginheight="0" marginwidth="0"></iframe>
{% endif %}
