<div style="clear: both;"></div>
{% assign speaker = include.speaker | default: page.speaker[0] | default: page.speaker %}
{% assign speakerpic = speaker.pic | default: include.speakerpic %}
{% assign mastodon = speaker.mastodon | default: include.mastodon | default: page.mastodon %}
{% include speakerpic.html speakerpic=speakerpic %}
{% if speaker %}__{% if speaker.name %}{{speaker.name}}{% else %}{{speaker}}{% endif %}__{% include speaker-social.html type='mastodon' handle=mastodon %}{% endif %}{% if include.bio %}{{include.bio}}{% endif %}
