<div style="clear: both;"></div>
{% assign speaker = page.speaker[include.index] %}
{% assign speakerpic = speaker.pic %}
{% include speakerpic.html speakerpic=speakerpic alt=speaker.name %}

{% assign social = "" | split: ',' %}

{% if speaker.mastodon %}
{% capture m %}<a href="https://{{speaker.mastodon}}" target="_blank"><i class="bi bi-mastodon"></i> {{speaker.mastodon}}</a>{% endcapture %}
{% assign social = social | push: m %}
{% endif %}
{% if speaker.bluesky %}
{% capture b %}<a href="https://bsky.app/profile/{{speaker.bluesky}}" target="_blank">
  <span class="icon-text">
    <img src="/images/bluesky.svg" class="icon">
    {{speaker.bluesky}}
  </span></a>{% endcapture %}
{% assign social = social | push: b %}
{% endif %}
{% if speaker.linkedin %}
{% capture l %}<a href="https://www.linkedin.com/in/{{speaker.linkedin}}" target="_blank"><i class="bi bi-linkedin"></i> in/{{speaker.linkedin}}</a>{% endcapture %}
{% assign social = social | push: l %}
{% endif %}
{% if speaker.github %}
{% capture g %}<a href="https://github.com/{{speaker.github}}" target="_blank"><i class="bi bi-github"></i> {{speaker.github}}</a>{% endcapture %}
{% assign social = social | push: g %}
{% endif %}
{% if speaker.web %}
{% capture w %}<a href="{{speaker.web}}" target="_blank"><i class="bi bi-globe"></i> {{speaker.web}}</a>{% endcapture %}
{% assign social = social | push: w %}
{% endif %}

__{{speaker.name}}__
{% if social.size > 0 %}({{ social | join: " | " }}){% endif %}
