<h5>Sponsoren</h5>
<a href="http://entwickler-press.de" target="_blank"><img src="http://jugda.files.wordpress.com/2013/01/entwicklerpress_580.png" /></a>
<a href="http://sandsmedia.com/de" target="_blank"><img src="http://jugda.files.wordpress.com/2012/12/sus_logo_4c.png" /></a>
<a href="http://www.dpunkt.de" target="_blank"><img src="http://jugda.files.wordpress.com/2013/01/dpunkt_logo.jpg" /></a>
<a href="http://www.hanser-fachbuch.de/computer/" target="_blank"><img src="http://jugda.files.wordpress.com/2014/03/hanser.png" /></a>
<a href="http://www.jetbrains.com/idea/" target="_blank"><img src="http://www.jetbrains.com/idea/opensource/img/all/banners/idea468x60_blue.gif" /></a>
<a href="http://www.oreilly.de/" target="_blank"><img src="https://i0.wp.com/www.oreilly.de/ug/graphics/bat_banner.jpg" /></a>
<a href="http://www.tu-darmstadt.de/" target="_blank"><img src="http://www.tu-darmstadt.de/media/corporate_design/cd_grafiken/tud_logo_web_druck.png" /></a>
<a href="http://www.it-for-work.de/" target="_blank"><img src="http://www.it-for-work.de/contentblob/2062390/.4./logo_handelskammer.png/data.png" /></a>
