<li>
  {% if showUrlAndQrCode %}
    <img style="float:right; width:80px;" src="http://chart.apis.google.com/chart?chs=100x100&cht=qr&chld=|0&chl={{site.url}}{{post.url}}" />
  {% endif %}
  <div>
    <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%d.%m.%Y" }}</time> &raquo;
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% if post.speaker %}
      <div class="speaker">Speaker: {{ post.speaker }}</div>
    {% endif %}
    {% if post.location contains 'C110' %}
    {% else %}
      {% if post.date > site.time and page.name != 'veranstaltungen.html' and page.name != 'index.html' %}
        <div class="location">Ort: {{ post.location }}</div>
      {% endif %}
    {% endif %}
    {% if showUrlAndQrCode %}
      <div class="url">{{site.url}}{{post.url}}</div>
    {% endif %}
  </div>
</li>
