
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$darkBlue: navy;
$red: red;
$dukeRed: rgb(225, 16, 18);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
$fontWeightRegular: 300;
$fontWeightBold: 400;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 850px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 550px) {
    @content;
  }
}
