<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description"><a href="{{ site.baseurl }}/">{{ site.description }}</a></p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/veranstaltungen/">Veranstaltungen</a>
            <a href="{{ site.baseurl }}/mitmachen/">Mitmachen</a>
            <a href="{{ site.baseurl }}/partner/">Partner JUGs</a>
            <a href="{{ site.baseurl }}/about/">Über uns</a>
            <a href="{{ site.baseurl }}/impressum/">Impressum</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {%if page.name == 'index.html' %}
        {% include next-event.html %}
      {% endif %}
      <div class="maincontent">
        {{ content }}
      </div>
      <div class="sidebar">
        {% include sidebar.html %}
      </div>
      <div style="clear: both"></div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include fa-icons.html %}
        </footer>
      </div>
    </div>

    <div class="sponsors">
      {% include sponsoren.html %}
    </div>

    {% include analytics.html %}
  </body>
</html>
