<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap-icons.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description"><a href="{{ site.baseurl }}/">{{ site.description }}</a></p>
          </div>

          <nav class="legal">
            <a href="{{ site.baseurl }}/datenschutz/">Datenschutz</a>
            <a href="{{ site.baseurl }}/impressum/">Impressum</a>
          </nav>
          <nav>
            <a href="{{ site.baseurl }}/veranstaltungen/">Veranstaltungen</a>
            <a href="{{ site.baseurl }}/mitmachen/">Mitmachen</a>
            <a href="{{ site.baseurl }}/partner/">Partner JUGs</a>
            <a href="{{ site.baseurl }}/about/">Über uns</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {%if page.name == 'index.html' %}
      <div class="next-event-container">
        <span class="next-event-label">R.I.P. Jörn 🖤</span>
        In großer Trauer nehmen wir Abschied von unserem Freund und langjährigen Mitstreiter Jörn Hameister. <a href="/nachruf-joern/">Zum Nachruf ...</a></div>
        <br/>
        {% include next-event.html %}
      {% endif %}
      <div>
        {{ content }}
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include fa-icons.html %}
        </footer>
      </div>
    </div>

    {% include sponsoren.html %}
    <script src="/js/script.js"></script>
  </body>
</html>
