---
layout: default
---

<article class="post">
  <h2>
    <i class="fa fa-calendar"></i>&nbsp;
    {{ page.date | date: "%d.%m.%Y" }}
  </h2>
  <h1>{{ page.title }}</h1>
  {% if page.speaker %}
    <h2>
      <em>
        <i class="fa fa-user"></i>&nbsp;
        {{ page.speaker }}{% if page.speaker2 %}, {{ page.speaker2 }}{% endif %}{% if page.speaker3 %}, {{ page.speaker3 }}{% endif %}
      </em>
    </h2>
  {% endif %}

  {% if page.date > site.time %}
    {% if page.important %}
      <h2 class="important">{{ page.important }}</h2>
    {% endif %}
    <div class="flexContainerSpaceBetween">
      {% include getDateWithStartAndEndTimeFromEvent.html event=page %}
      <h3>
        <i class="fa fa-clock-o"></i>&nbsp;
        {{ dateWithStartTime | date: "%H:%M" }} bis {{ dateWithEndTime | date: "%H:%M" }} Uhr
      </h3>
      <div>
        <a href="#" onclick="ical('{{ page.title | replace: "'", "\\'" }}{% if page.speaker %} ({{ page.speaker }}{% if page.speaker2 %}, {{ page.speaker2 }}{% endif %}{% if page.speaker3 %}, {{ page.speaker3 }}{% endif %}){% endif %}', '{{ page.content | strip_html | normalize_whitespace | truncatewords: 50 | escape }}', '{{ page.location }}', '{{ dateWithStartTime | date: "%Y%m%dT%H%M00" }}', '{{ dateWithEndTime | date: "%Y%m%dT%H%M00" }}', '{{ site.url }}{{ page.url }}', '{{ page.date | date: "%Y%m%d" }}')" title="iCal/ics Datei für diese Veranstaltung runterladen">
          <img src="/images/ical.png" style="height: 32px;"/>
        </a>
      </div>
    </div>
	{% if page.location != "Online" %}
    <div>
      <i class="fa fa-location-arrow"></i>&nbsp;
      {{ page.location }} (<a href="{{ page.direction }}" target="_blank">Anfahrtsbeschreibung</a>)
    </div>
	{% endif %}
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  {% if page.attachments or page.youtube %}
  <h2>Folien / Video(s)</h2>
  {% endif %}
  {% if page.attachments %}
  <p>
  {% if page.attachments.first %}
	{% for attachment in page.attachments %}
			<div><i class="fa fa-hand-o-right"></i>&nbsp;<a href="{{ attachment[1] }}" rel="noreferrer nofollow" target="_blank">Hier geht's zu den {{ attachment[0] }}</a></div>
	{% endfor %}
  {% else %}
    <i class="fa fa-hand-o-right"></i>&nbsp;<a href="{{ page.attachments }}" rel="noreferrer nofollow" target="_blank">Hier geht's zu den Folien</a>
  {% endif %}
  </p>
  {% endif %}

  {% if page.youtube %}
  {% if page.youtube.first %}
	{% for video in page.youtube %}
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe>
  </div>
	{% endfor %}
  {% else %}
  <div class="video-container">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
  </div>
  {% endif %}
  {% endif %}

  {% if page.hideRegistration == false %}
  {% include registration.html %}
  {% endif %}

  <div class="hint">
  {% if page.externalEvent == false %}
    Eine Veranstaltung des iJUG e.V., organisiert durch die JUG Darmstadt.
  {% else %}
    Die JUG DA ist nicht Veranstalter dieses Events.
    Verantwortlich für diese Veranstaltung ist der oben im Text auf dieser Seite genannte (und ggf. verlinkte) Veranstalter.
    Es gelten dessen Bestimmungen und Richtlinien.
  {% endif %}
  </div>
</article>
