<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body class="poster" onload="window.print();">
    <div class="poster-header" style="text-align:right;">
      <img height="100" src="/images/poster_logo.svg" />
    </div>
    <hr class="poster-line" />
    <div class="poster-content">
      {{ content }}
      <div class="poster-sponsors">Mit freundlicher Unterstützung von: <img src="/images/sponsors/tud.png" /></div>
    </div>
    <div class="poster-footer">
      Die Vorträge finden, sofern nicht anders angegeben, um 18:30 Uhr an der TU Darmstadt in der Hochschulstraße 10, Piloty-Gebäude S2|02, Raum C110 statt. Es kann aber kurzfristig zu Abweichungen kommen. Bitte vorher auf http://jug-da.de vorbeischauen.
      <div class="changeDate">{{ site.time | date:'%m/%Y'}}</div>
    </div>
    {% include analytics.html %}
  </body>
</html>
